//CONEXION BASE DE DATOS MYSQL
DB_USER=""
DB_PASSWORD=""
DB_NAME=""
DB_HOST=""
DB_PORT=""

//SERVIDOR
PORT=""

//JWT
JWT_SECRET=""
JWT_EXPIRE=""

//CLOUDINARY 
CLOUDINARY_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

//NODEMAILER
 SMTP_HOST=""
 SMTP_PORT=""
 SMTP_SERVICE=""
 SMTP_MAIL=""
 SMTP_PASSWORD=""